# Site settings
title: Login.gov
description: Welcome to the Login.gov developer documentation!
github_repo_url: https://github.com/18F/identity-dev-docs # enables "edit this page" button

# temporary_alert: "The Login.gov sandbox (<b>not production</b>) will be unavailable from <b>5:30-6:30p ET on Tuesday, August 9th</b> for maintenance."
temporary_alert: false

plugins:
  - jekyll-redirect-from

whitelist:
  - jekyll-redirect-from

copy_to_destination:
  - node_modules/identity-style-guide/dist/assets

# Pages
collections:
  pages:
    output: true
    permalink: /:path/

# Build settings
kramdown:
  hard_wrap: true

exclude:
  - Dockerfile
  - docker-compose.yml
  - README.md
  - CONTRIBUTING.md
  - Makefile
  - package.json
  - package-lock.json
  # default excludes from https://github.com/jekyll/jekyll/blob/493b800edbf6f6e97c34d1812698260907255665/lib/site_template/_config.yml#L45
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Defaults
defaults:
  - scope:
      path: ""
    values:
      layout: documentation
