{% if include.link.href == page.url -%}
  {% assign is_current_page = true -%}
{% else -%}
  {% assign is_current_page = false -%}
{% endif -%}
{% assign first_character = include.link.href | slice: 0 -%}
{% if first_character == '#' -%}
  {% assign href = include.link.href -%}
{% else -%}
  {% assign href = include.link.href | relative_url -%}
{% endif -%}
<a href="{{ href }}" class="{% if is_current_page %}usa-current{% endif %}">
  <span>
    {{ include.link.text | smartify }}
  </span>
</a>

{% assign should_expand = true %}

{% if include.link.hide_by_default %}
  {% assign should_expand = is_current_page %}
{% endif %}

{% if include.link.restrict_to_nav_location and include.link.restrict_to_nav_location != include.nav_location %}
  {% assign should_expand = false %}
{% endif %}


{% if include.link.links and should_expand -%}
  <ul class="{{ include.ul_class }}">
    {% include nav/list.html
      links = include.link.links
      li_class = include.li_class
      ul_class = include.ul_class
      nav_location = include.nav_location
    %}
  </ul>
{% endif -%}
