{% if include.link.href == page.url -%}
  {% assign is_current_page = true -%}
{% else -%}
  {% assign is_current_page = false -%}
{% endif -%}
{% assign first_character = include.link.href | slice: 0 -%}
{% if first_character == '#' -%}
  {% assign href = include.link.href -%}
{% else -%}
  {% assign href = include.link.href | relative_url -%}
{% endif -%}
<a href="{{ href }}" class="{% if is_current_page %}usa-current{% endif %}">
  <span>
    {{ include.link.text | smartify }}
  </span>
</a>
{% if include.link.links -%}
  <ul class="{{ include.ul_class }}">
    {% include nav/list.html
      links = include.link.links
      li_class = include.li_class
      ul_class = include.ul_class
    %}
  </ul>
{% endif -%}
