.circleci# Ruby CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.8
  node: circleci/node@5.2.0
  ruby: circleci/ruby@2.1.2
jobs:
  build:
    docker:
      # Specify the Ruby version you desire here
      - image: cimg/ruby:3.2.5-browsers
    environment:
      BUNDLE_JOBS: '3'
      BUNDLE_RETRY: '3'
    steps:
      - node/install
      - run:
          name: Print Node.js version
          command: node -v
      - checkout
      - browser-tools/install-chromedriver
      - node/install-packages
      - ruby/install-deps
      - run:
          name: Test Setup
          command: |
            make clean
            make build
      - ruby/rspec-test:
          include: spec/*_spec.rb
      - run: npm run test

      - run:
          name: Run htmlproofer (no external links)
          command: bundle exec scripts/htmlproofer --internal
      - run:
          name: Lint JavaScript
          command: make lint-js
