{% comment %}
include
- content
- accordion_id
- title
- id
{% endcomment %}
<dt class="usa-accordion__heading" id="{{ include.id }}">
    <button
      type="button"
      class="usa-accordion__button"
      aria-controls="{{ include.accordion_id }}"
    >
      {{ include.title }}
      <a href="#{{ include.id }}"
         class="accordion-link"
         aria-label="anchor"
         aria-describedby="{{ include.id }}"
         >#</a>
    </button>
</dt>
<dd id="{{ include.accordion_id }}" class="usa-accordion__content usa-prose">
    {{ include.content | markdownify }}
</dd>
