<div class="footer-navigation grid-container grid-row">
  <div class="footer-navigation__section grid-col-12 margin-y-2 tablet:grid-col-auto">
    <img
      src="{{ site.baseurl }}/assets/img/logo.svg"
      alt="Login.gov logo"
      width="191"
      height="27"
    />
  </div>
  <div class="grid-col-fill"></div>
  <div class="grid-col-12 tablet:grid-col-auto">
    <nav
      aria-label="Footer navigation"
      class="grid-row grid-gap-2 tablet:grid-gap-6"
    >
      {% assign login_base = 'https://login.gov' %}
      {% for section in site.data.nav.footer_sections %}
        <section class="grid-col-6 tablet:grid-col-auto margin-y-2 footer-navigation__section">
          <h2>{{ section.heading }}</h2>
          <ul>
            {% for section_link in section.links %}
              <li>
                <a href="{{ section_link.url | replace: '$BASE_URL', login_base }}">
                  {{ section_link.label }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endfor %}
    </nav>
    <div class="system-status">
      <a class="font-body-2xs" href="https://status.login.gov">Login.gov system status</a>
    </div>
  </div>
</div>
