
<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
  </div>
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo">
        <a href="https://www.gsa.gov"><img class="usa-footer-slim-logo-img" src="{{ site.baseurl }}/assets/img/gsa-logo.svg" alt="GSA logo image"></a>
        <a href="https://18f.gsa.gov"><img class="usa-footer-slim-logo-img" style="margin-left: 20px" src="{{ site.baseurl }}/assets/img/18f-logo.svg" alt="18F logo image"></a>
      </div>
    </div>
  </div>
</footer>
