{% comment %}
Includes:
- schema, array of:
    - key
    - description
    - requirement (optional)
    - type (optional)
    - properties (optional)
{% endcomment %}
<ul>
  {% for item in include.schema %}
    <li markdown="1">
<!-- -->**{{ item.key }}**
<!-- -->{%- if item.type %}
<!-- -->  ({{ item.type }})
<!-- -->{%- endif -%}
<!-- -->{%- if item.requirement %}
<!-- -->  --- *{{ item.requirement }}*
<!-- -->{%- endif -%}
<!-- --><br />{{ item.description }}
<!-- -->{%- if item.properties -%}
<!-- -->  {% include schema.html schema=item.properties %}
<!-- -->{%- endif -%}
    </li>
  {% endfor %}
</ul>
