<ul class="usa-sidenav-list">
  <li>
    <a class="{% if page.url == '/' %}usa-current{% endif %}" href="{{ site.baseurl }}/">Home</a>
  </li>
  <li>
    <a class="{% if page.url == '/attributes/' %}usa-current{% endif %}" href="{{ site.baseurl }}/attributes/">User attributes</a>
  </li>
  <li>
    <a class="{% if page.url == '/register/' %}usa-current{% endif %}" href="{{ site.baseurl }}/register/">Register your service provider</a>
  </li>
  <li>
    <a class="{% if page.url == '/saml/' %}usa-current{% endif %}" href="{{ site.baseurl }}/saml/">SAML</a>
    <ul class="usa-sidenav-sub_list">
      <li>
        <a class="{% if page.url == '/saml/' %}usa-current{% endif %}" href="{{ site.baseurl }}/saml/">Endpoints</a>
        <ul class="usa-sidenav-sub_list">
          <li><a href="{{ site.baseurl }}/saml/#metadata">/api/saml/metadata</a></li>
          <li><a href="{{ site.baseurl }}/saml/#auth">/api/saml/auth</a></li>
          <li><a href="{{ site.baseurl }}/saml/#logout">/api/saml/logout</a></li>
        </ul>
      </li>
      <li><a class="{% if page.url == '/saml/libs/' %}usa-current{% endif %}" href="{{ site.baseurl }}/saml/libs/">Libraries</a></li>
      <li><a class="{% if page.url == '/saml/examples/' %}usa-current{% endif %}" href="{{ site.baseurl }}/saml/examples/">Examples</a></li>
    </ul>
  </li>
  <li>
    <a class="{% if page.url == '/openid-connect/' %}usa-current{% endif %}" href="{{ site.baseurl }}/openid-connect/">OpenID Connect</a>
    <ul class="usa-sidenav-sub_list">
      <li>
        <a class="{% if page.url == '/openid-connect/' %}usa-current{% endif %}" href="{{ site.baseurl }}/openid-connect/">Endpoints</a>
        <ul class="usa-sidenav-sub_list">
          <li><a href="{{ site.baseurl }}/openid-connect/#auto-discovery">/.well-known/openid-configuration</a></li>
          <li><a href="{{ site.baseurl }}/openid-connect/#authorize">/openid_connect/authorize</a></li>
          <li><a href="{{ site.baseurl }}/openid-connect/#token">/api/openid_connect/token</a></li>
          <li><a href="{{ site.baseurl }}/openid-connect/#user-info">/api/openid_connect/userinfo</a></li>
          <li><a href="{{ site.baseurl }}/openid-connect/#certs">/api/openid_connect/certs</a></li>
          <li><a href="{{ site.baseurl }}/openid-connect/#logout">/openid_connect/logout</a></li>
        </ul>
      </li>
  </li>
</ul>
