<span class="margin-right-2">View an example for…</span><button data-example="private_key_jwt">private_key_jwt</button><button data-example="pkce">PKCE</button>

<div markdown="1" data-example="private_key_jwt">
</div>
<div markdown="1" data-example="pkce" hidden="true">
</div>

<div class="grid-container">
  <div class="grid-row">
    <div class="tablet:grid-col">
      {{ include.example_one | markdownify }}
    </div>
    <div class="tablet:grid-col">
      {{ include.example_two | markdownify }}
    </div>
  </div>
</div>


