{%- capture alert_content -%}
<b>Same great support with an all new ticketing system!</b> Login.gov is
moving our Agency Partner support team to a new help center and ticketing
system beginning March 9th. The new system will allow us to more efficiently
and effectively meet Partner needs. Please go to <a href="https://logingov.zendesk.com/">logingov.zendesk.com</a>
to request support. We will now be requiring all partners to create a
Login.gov account with their work email to ensure quick resolution and
reduce spam. Login.gov accounts are free.
<br />
<br />
Login.gov will continue to support its existing email and Slack channels.
{%- endcapture -%}

{% include alert.html content=alert_content %}
