.usa-prose {
  figure {
    max-width: 64ex;
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    img {
      width: 100%;
      margin: 0 0 0.5em 0;
    }

    figcaption {
      font-size: .8em;
    }
  }
}