@use "uswds-core" as * with (
  $theme-utility-breakpoints: (
    "mobile": true,
    "tablet": true,
    "desktop": true
  ),
  $theme-grid-container-max-width: 'widescreen',
  $theme-footer-max-width: 'widescreen',
  $theme-header-max-width: 'widescreen',
  $theme-banner-max-width: 'widescreen',
  $theme-identifier-max-width: 'widescreen',
  $theme-in-page-nav-main-content-max-width: 'widescreen'
  
);
@forward "uswds";
@forward "footer";
@forward "not_found";

$block-background-color: #fafafa;

main.usa-layout-docs {
  word-wrap: break-word;
}

main#main-content {
  padding-top: 0;
  border-top: none;
}

.usa-section > .lg-hero {
  margin-bottom: 2rem;
}

.dev-doc-row {
  border-top: 1px solid #CEDCED;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.doc-sub-nav {
  width: 100%;
  color: #205493;
  margin-bottom: 0px;
}

.doc-sub-nav-item {
  display: inline-block;
  cursor: pointer;
}

.usa-prose > ul > .doc-sub-nav-item {
  margin-bottom: 0px;
}

.code-button {
  color: #205493;
  padding-bottom: 0.5rem;
  border: none;
  text-align: left;
  padding-left: 0px;
  background-color: transparent;
  padding-right: 0px;
}


button.code-button:hover {
  cursor: pointer;
}

.code-button__selected {
  font-weight: bold;
  border-bottom: 4px solid red;
}

.reversefootnote {
  @include u-font-family("mono");
}

.usa-layout-docs__sidenav {
  top: 2rem;
}

.code-snippet-section {
  position: sticky;
  top: 2rem;
}

.green-bottom-border {
  border-bottom: green 4px solid;
}

.red-bottom-border {
  border-bottom: red 4px solid;
}


.parameters {
  margin-top: 0px;
  margin-bottom: 0px;
}

.markdown > .highlighter-rouge > .highlight > pre {
  overflow-wrap: break-word;
  text-wrap: wrap;
  word-break: inherit;
  white-space-collapse: preserve-breaks;
  background-color: inherit;
  padding-bottom: 4rem;
}

.long.markdown > .highlighter-rouge > .highlight > pre {
  max-height: 480px;
}

.lookbook-embed-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.lookbook-embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.return-to-top-section {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
}

.return-to-top-button {
  max-width: 160px;
  top: 90%;
}

.return-to-top-button > img {
  // Change the chevron to #0071bb from #000000
  filter: invert(21%) sepia(72%) saturate(4106%) hue-rotate(190deg) brightness(95%) contrast(101%);
}

.code-snippet-column {
  background-color: $block-background-color;
  position: relative;
  margin-top: 2rem;
  padding-top: 1rem;
}

.agency-logo-width{
  width: 230px;
}

.usa-nav__close .usa-icon {
  width: 1.3rem;
  height: 1.3rem;
}

@media (min-width: 640px) {
  .usa-section > .lg-hero {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .code-snippet-column {
    background-color: transparent;
    margin-top: 0px;
    padding-top: 0px;
  }

  .lookbook-embed-container {
    width: 700px;
  }

  .code-snippet-column::before {
    content: "";
    right: -15px;
    width: 100%;
    display: block;
    z-index: -1;
    position: absolute;
    background-color: $block-background-color;
    top: 0;
    margin-top: -4rem;
    bottom: -15rem;
  }

  .markdown > .highlighter-rouge > .highlight > pre {
    overflow-wrap: break-word;
    text-wrap: wrap;
    word-break: inherit;
    white-space-collapse: preserve-breaks;
  }

  .hero {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  .usa-navbar.usa-navbar__full-width {
    max-width: 100%;
  }

  .usa-header--extended .usa-nav__inner.usa-nav__inner__no-margin {
    margin-left: 0px;
    max-width: 100%;
  }
}
