@use "uswds-core" as * with (
  $theme-utility-breakpoints: (
    "tablet": true,
    "desktop": true,
  )
);
@forward "uswds";

.usa-prose {
  figure {
    max-width: 64ex;
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    img {
      width: 100%;
      margin-bottom: 0.5em;
    }

    figcaption {
      font-size: 0.8em;
    }
  }

// Upstream fix: https://github.com/uswds/uswds/pull/5187
.usa-alert .usa-alert__body::before {
    height: units(2);
  }
}

.reversefootnote {
  @include u-font-family("mono");
}


@media (min-width: 1024px) {

  .layout-container {
    min-width: 49rem;
    max-width: 100rem;
  }
  

  .usa-header--extended .usa-navbar {
    max-width: 100%;
    background-color: white;
  }
  .usa-header--extended .usa-nav__inner {
    max-width: 100%;
    margin-left: 0px;
  }
}

.usa-layout-docs__sidenav {
  top: 2rem;
}

@media (min-width: 880px) {
  .tablet-lg\:height-viewport {
    height: 100vh;
  }
}