---
# CSS for integration guidelines for partners
#
# This file is included to match CSS classes from the latest version of the
# USWDS. This is done because this site is using an older version of the design
# system. We want the guidance we give to partners to match the latest version.
---

$theme-button-font-family: "ui" !default;

.usa-button--big {
    border-radius: .25rem;
    font-size: 1.33rem;
    padding: 1rem 1.5rem;
  }

.usa-button--secondary {
    background-color: #d83933;

    &:hover,
    &.usa-button--hover {
        background-color: #b50909;
    }

    &:active,
    &.usa-button--active {
        background-color: #8b0a03;
    }
}
