---
---

/* Custom Styles */

html {
  background-color: #d6d7d9;
}

.usa-content ol:not(.usa-accordion):not(.usa-accordion-bordered), .usa-content p, .usa-content ul:not(.usa-accordion):not(.usa-accordion-bordered) {
  max-width: 100%;
}

main {
  a:visited {
    color: #0071bc;  // $color-primary
  }
}

table {
  display: block;
  overflow: auto;
}

.usa-header .usa-logo {
  span {
    font-size: 2rem;
    color: #e31c3d;
  }
}

.checklist {
  ul {
    list-style-image: url('{{ site.baseurl }}/assets/img/check.svg');
  }
}

.compact-list {
  ul, li {
    margin: 0;
  }
}

span.space {
  margin-right: 1rem;
}

@media screen and (max-width: 951px) {
  .usa-header .usa-logo {
    img {
      position: relative;
      top: 5px;
      padding-right: 10px;
      width: 150px;
    }

    span {
      font-size: inherit;
    }
  }
}

// Code ////////////////////////////////////////////////////////////////////////

pre, code {
  background: #f2f2f2;
  border: 1px solid #dee0e2;
  border-radius: 3px;
}

pre {
  code {
    display: block;
    padding: 10px;
    overflow-y: auto;
    border: 0;
    word-wrap: normal;
  }
}

code {
  padding: 1px 3px;
  word-wrap: break-word;

  /* long code snippets */

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track-piece {
    background: #dee0e2;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }
}

.highlight .hll { background-color: #c5c8c6 }
.highlight  { background: #ffffff; color: #373b41 }
// .highlight .c { color: #b4b7b4 } /* Comment */
.highlight .c { color: #757775 } /* replace with better contrast */
.highlight .err { color: #CC342B } /* Error */
.highlight .k { color: #A36AC7 } /* Keyword */
.highlight .l { color: #198844 } /* Literal */
.highlight .o { color: #3971ED } /* Operator */
// .highlight .ch { color: #b4b7b4 } /* Comment.Hashbang */
// .highlight .cm { color: #b4b7b4 } /* Comment.Multiline */
.highlight .ch { color: #757775 } /* replace with better contrast */
.highlight .cm { color: #757775 } /* replace with better contrast */
.highlight .cp { color: #3971ED } /* Comment.Preproc */
.highlight .cpf { color: #198844 } /* Comment.PreprocFile */
// .highlight .c1 { color: #b4b7b4 } /* Comment.Single */
// .highlight .cs { color: #b4b7b4 } /* Comment.Special */
.highlight .c1 { color: #757775 } /* replace with better contrast */
.highlight .cs { color: #757775 } /* replace with better contrast */
.highlight .kc { color: #A36AC7 } /* Keyword.Constant */
.highlight .kd { color: #A36AC7 } /* Keyword.Declaration */
.highlight .kn { color: #A36AC7 } /* Keyword.Namespace */
.highlight .kp { color: #A36AC7 } /* Keyword.Pseudo */
.highlight .kr { color: #A36AC7 } /* Keyword.Reserved */
.highlight .kt { color: #CC342B } /* Keyword.Type */
.highlight .ld { color: #198844 } /* Literal.Date */
.highlight .m { color: #F96A38 } /* Literal.Number */
.highlight .s { color: #198844 } /* Literal.String */
.highlight .na { color: #3971ED } /* Name.Attribute */
.highlight .nb { color: #3971ED } /* Name.Builtin */
.highlight .nc { color: #3971ED } /* Name.Class */
.highlight .no { color: #F96A38 } /* Name.Constant */
.highlight .nd { color: #F96A38 } /* Name.Decorator */
.highlight .nf { color: #3971ED } /* Name.Function */
.highlight .nn { color: #3971ED } /* Name.Namespace */
.highlight .nt { color: #A36AC7 } /* Name.Tag */
.highlight .nv { color: #3971ED } /* Name.Variable */
.highlight .ow { color: #A36AC7 } /* Operator.Word */
.highlight .w { color: #373b41 } /* Text.Whitespace */
.highlight .mb { color: #F96A38 } /* Literal.Number.Bin */
.highlight .mf { color: #F96A38 } /* Literal.Number.Float */
.highlight .mh { color: #F96A38 } /* Literal.Number.Hex */
.highlight .mi { color: #F96A38 } /* Literal.Number.Integer */
.highlight .mo { color: #F96A38 } /* Literal.Number.Oct */
.highlight .sa { color: #198844 } /* Literal.String.Affix */
.highlight .sb { color: #198844 } /* Literal.String.Backtick */
.highlight .sc { color: #198844 } /* Literal.String.Char */
.highlight .dl { color: #198844 } /* Literal.String.Delimiter */
.highlight .sd { color: #198844 } /* Literal.String.Doc */
.highlight .s2 { color: #198844 } /* Literal.String.Double */
.highlight .se { color: #198844 } /* Literal.String.Escape */
.highlight .sh { color: #198844 } /* Literal.String.Heredoc */
.highlight .si { color: #3971ED } /* Literal.String.Interpol */
.highlight .sx { color: #198844 } /* Literal.String.Other */
.highlight .sr { color: #3971ED } /* Literal.String.Regex */
.highlight .s1 { color: #198844 } /* Literal.String.Single */
.highlight .ss { color: #F96A38 } /* Literal.String.Symbol */
.highlight .bp { color: #CC342B } /* Name.Builtin.Pseudo */
.highlight .fm { color: #3971ED } /* Name.Function.Magic */
.highlight .vc { color: #3971ED } /* Name.Variable.Class */
.highlight .vg { color: #3971ED } /* Name.Variable.Global */
.highlight .vi { color: #CC342B } /* Name.Variable.Instance */
.highlight .vm { color: #3971ED } /* Name.Variable.Magic */
.highlight .il { color: #F96A38 } /* Literal.Number.Integer.Long */
