---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "button";
@import "figures";

#nav-links {
    width: fit-content !important;
}

//override for touchpoints survey included via script 
#fba-modal-dialog .usa-banner__header-text {
    color: white;

    a {
        color: white;
    }
}