<p>
  We encourage you to create an account directly on  <a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://secure.login.gov/">Login.gov</a> or an agency partner like <a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://www.usajobs.gov/">USAJobs</a> to see Login.gov in action.
  <br/><br/>
  Generally, a site will place a login button on their site. When the user clicks this button they redirect to Login.gov where they can sign in or create an account. The Login.gov site will be branded with the agency logo and can include help text for migrating existing users.
  After authenticating with Login.gov they are redirected back to the agency with a unique UUID or email address that identifies the user.
  <br/>
  Please see our <a href="{{ '/overview/' | prepend: site.baseurl }}" target="_blank">overview documentation</a> for more details.
</p>
