<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% capture title -%}
      {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif -%}
    {% endcapture -%}

    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}">

    {% if page.lead -%}
      <meta name="description" content="{{ page.lead | strip_html }}">
      <meta property="og:description" content="{{ page.lead | strip_html }}">
    {% endif -%}

    <meta name="twitter:card" value="summary">
    <meta property="og:type" content="article">

    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  </head>

  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    <section class="usa-banner" aria-label="Official government website">
      <div class="usa-accordion">
        <header class="usa-banner__header">
          <div class="usa-banner__inner">
            <div class="grid-col-auto">
              <img class="usa-banner__header-flag" src="{{ site.baseurl }}/assets/img/us_flag_small.png" alt="U.S. flag">
            </div>
            <div class="grid-col-fill tablet:grid-col-auto">
              <p class="usa-banner__header-text">An official website of the United States government</p>
              <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
            </div>
            <button class="usa-accordion__button usa-banner__button"
              aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner__button-text">Here’s how you know</span>
            </button>
          </div>
        </header>
        <div class="usa-banner__content usa-accordion__content" id="gov-banner">
          <div class="grid-row grid-gap-lg">
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img src="{{ site.baseurl }}/assets/img/icon-dot-gov.svg"
                class="usa-banner__icon usa-media-block__img"
                alt="Dot gov"
                role="img">
              <div class="usa-media-block__body">
                <p>
                  <strong>Official websites use .gov</strong>
                  <br>
                  A <strong>.gov</strong> website belongs to an official government organization in the United States.
                </p>
              </div>
            </div>
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img src="{{ site.baseurl }}/assets/img/icon-https.svg"
                class="usa-banner__icon usa-media-block__img"
                alt="Https"
                role="img">
              <div class="usa-media-block__body">
                <p>
                  <strong>Secure .gov websites use HTTPS</strong>
                  <br>
                  A <strong>lock (
                    <img src="{{ site.baseurl }}/assets/img/lock.svg"
                      class="usa-banner__lock-image"
                      alt="Https"
                      role="img">
                  )</strong> or <strong>https://</strong> means you've safely connected to the .gov website. Share sensitive information only on official, secure websites.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="usa-overlay"></div>

    <header class="usa-header usa-header--extended" role="banner">
      <div class="usa-navbar">
        <div class="usa-logo" id="basic-logo">
          <a href="{{ site.baseurl }}/" title="Home" aria-label="Home">
            <img src="{{ site.baseurl }}/assets/img/login-gov-logo.svg"
              class="usa-logo__img"
              alt="Login.gov"
              role="img">
            <em class="usa-logo__text">Developers</em>
          </a>
        </div>
        <button class="usa-menu-btn">Menu</button>
      </div>
      <nav role="navigation" class="usa-nav border-top-none">
        <div class="usa-nav__inner">
          <button class="usa-nav__close">
            <img src="{{ site.baseurl }}/assets/img/close.svg" alt="Close" role="img">
          </button>
          <div class="usa-nav__secondary">
            <ul class="usa-nav__secondary-links"></ul>
            <section aria-label="Search component">
              {% include search.html id="header-nav" %}
            </section>
          </div>
          <ul class="usa-nav__primary usa-accordion">
            {% include nav/list.html
              links = site.data.nav.primary
              li_class = 'usa-nav__primary-item'
              subnav_ul_class = 'desktop:display-none usa-sidenav__sublist'
            %}
          </ul>
        </div>
      </nav>
    </header>

    {{ content }}

    <footer class="usa-footer usa-footer--slim" role="contentinfo" aria-label="GSA footer">
      <div class="grid-container usa-footer__return-to-top">
        <div class="grid-row flex-align-center">
          <div class="grid-col flex-1">
            <a href="{{ site.github_repo_url }}/edit/main/{{ page.path }}" class="usa-button usa-button--outline">Edit this page</a>
          </div>
          <div class="grid-col flex-auto">
            <a href="#" class="usa-button usa-button--outline position-fixed bottom-205 right-105 z-500">Return to top</a>
          </div>
        </div>
      </div>
      <div class="usa-footer__secondary-section">
        <div class="grid-container">
          <div class="usa-footer__logo grid-row grid-gap-2">
            <div class="grid-col-auto">
              <img src="{{ site.baseurl }}/assets/img/gsa-logo-rev.svg"
                alt="U.S. General Services Administration logo"
                class="usa-footer__logo-img usa-footer__slim usa-footer__medium"
                role="img">
            </div>
            <div class="grid-col-auto">
              <h3 class="usa-footer__logo-heading">U.S. General Services Administration</h3>
            </div>
            <div class="grid-col-fill text-right">
              <a href="https://status.login.gov/">System Status</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    <script src="{{ site.baseurl }}/assets/js/anchor.js"></script>
    <script>
      anchors.add([
        '#main-content h1:not(.usa-accordion__heading)',
        '#main-content h2:not(.usa-accordion__heading)',
        '#main-content h3:not(.usa-accordion__heading)',
        '#main-content h4:not(.usa-accordion__heading)'
      ].join(', '));
    </script>

    {% include dap.html %}
    {% include google_analytics.html %}
  </body>
</html>
