<!DOCTYPE html>

<html lang="en">
  <head>
    {% include osc_analytics.html %}
    {% include dap.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% capture title -%}
      {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif -%}
    {% endcapture -%}

    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}">

    {% if page.lead -%}
      <meta name="description" content="{{ page.lead | markdownify | strip_html | strip }}">
      <meta property="og:description" content="{{ page.lead | markdownify | strip_html | strip }}">
    {% endif -%}

    <meta name="twitter:card" value="summary">
    <meta property="og:type" content="article">

    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  </head>

  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    <section class="usa-banner" aria-label="Official government website">
      <div class="usa-accordion">
        <header class="usa-banner__header">
          <div class="usa-banner__inner">
            <div class="grid-col-auto">
              <img class="usa-banner__header-flag" src="{{ site.baseurl }}/assets/img/us_flag_small.png" alt="U.S. flag">
            </div>
            <div class="grid-col-fill tablet:grid-col-auto">
              <p class="usa-banner__header-text">An official website of the United States government</p>
              <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
            </div>
            <button class="usa-accordion__button usa-banner__button"
              aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner__button-text">Here’s how you know</span>
            </button>
          </div>
        </header>
        <div class="usa-banner__content usa-accordion__content" id="gov-banner">
          <div class="grid-container">
            <div class="grid-row grid-gap-lg">
              <div class="usa-banner__guidance tablet:grid-col-6">
                <img src="{{ site.baseurl }}/assets/img/icon-dot-gov.svg"
                  class="usa-banner__icon usa-media-block__img"
                  alt="Dot gov"
                  role="img">
                <div class="usa-media-block__body">
                  <p>
                    <strong>Official websites use .gov</strong>
                    <br>
                    A <strong>.gov</strong> website belongs to an official government organization in the United States.
                  </p>
                </div>
              </div>
              <div class="usa-banner__guidance tablet:grid-col-6">
                <img src="{{ site.baseurl }}/assets/img/icon-https.svg"
                  class="usa-banner__icon usa-media-block__img"
                  alt="Https"
                  role="img">
                <div class="usa-media-block__body">
                  <p>
                    <strong>Secure .gov websites use HTTPS</strong>
                    <br>
                    A <strong>lock (
                      <img src="{{ site.baseurl }}/assets/img/lock.svg"
                        class="usa-banner__lock-image"
                        alt="Https"
                        role="img">
                    )</strong> or <strong>https://</strong> means you've safely connected to the .gov website. Share sensitive information only on official, secure websites.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="usa-overlay"></div>
      <header class="usa-header usa-header--extended" role="banner">
          <div class="usa-navbar">
            <h1 class="usa-logo" id="basic-logo">
              <a href="{{ '/' | prepend: site.baseurl }}" title="Home" aria-label="Home">
                <img src="{{ site.baseurl }}/assets/img/login-gov-logo.svg"
                  class="usa-logo__img"
                  alt="Login.gov"
                  role="img">
                <em class="usa-logo__text">Developers</em>
              </a>
            </h1>
            <section class="desktop:display-block mobile:display-none" aria-label="Search component">
              {% include search.html id="header-nav" %}
            </section>
            <button class="usa-menu-btn">Menu</button>
          </div>
          <nav role="navigation" class="usa-nav border-top-none">
            <div class="usa-nav__inner">
              <button class="usa-nav__close" aria-label="close">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/assets/img/sprite.svg#close"></use>
                </svg>
              </button>
              <div class="usa-nav__secondary desktop:padding-right-2">
                <section class="mobile:display-block desktop:display-none" aria-hidden="true">
                  {% include search.html id="header-nav-mobile" %}
                </section>
              </div>
              <ul class="usa-nav__primary usa-accordion flex-justify">
                <a href="https://portal.int.identitysandbox.gov/" class="mobile:display-block desktop:display-none usa-button flex-align-self-center" type="button">Go to portal</a>
                {% include nav/list.html
                  links = site.data.nav.primary
                  li_class = 'usa-nav__primary-item'
                  subnav_ul_class = 'desktop:display-none usa-sidenav__sublist'
                %}
                <div class="desktop:margin-right-neg-2 grid-row flex-fill flex-justify-end">
                  <a href="https://portal.int.identitysandbox.gov/" class="mobile:display-none desktop:display-inline usa-button flex-align-self-center" type="button">Go to portal</a>
                </div>
              </ul>
            </div>
          </nav>
          {% if page.lead %}
          <div aria-label="hero" class="usa-dark-background usa-section usa-section--dark">
              <div class="grid-container">
                <div class="grid-row">
                  <div class="grid-col-9 grid-offset-2">
                        <h1 class="usa-display">{{ page.title }}</h1>
                        <div class="usa-intro">{{ page.lead | markdownify }}</div>
                  </div>
                </div>
              </div>
          </div>
          {% endif %}
      </header>

    {{ content }}

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/js/toggle_view.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    <script src="{{ site.baseurl }}/assets/js/anchor.js"></script>
    <script src="{{ site.baseurl }}/assets/js/anchor_accordion.js"></script>

    <script>
      anchors.options = {
        icon: '#'
      };
      anchors.add([
        '#main-content h1:not(.usa-accordion__heading)',
        '#main-content h2:not(.usa-accordion__heading)',
        '#main-content h3:not(.usa-accordion__heading)',
        '#main-content h4:not(.usa-accordion__heading)'
      ].join(', '));
    </script>
    
    <script src="https://touchpoints.app.cloud.gov/touchpoints/c2c76249.js" async></script> 
  </body>
</html>
