---
layout: base
---

<main class="usa-layout-docs usa-section" id="main-content">
  <div class="grid-container">
    {% if page.sidenav %}
      <div class="grid-row grid-gap">
        <aside class="usa-layout-docs-sidenav desktop:grid-col-3">
          <nav>
            <ul class="usa-sidenav">
              {% include nav/list.html
                links = page.sidenav
                li_class = 'usa-sidenav-item'
                ul_class = 'usa-sidenav-sublist'
              %}
            </ul>
          </nav>
        </aside>

        <div class="usa-layout-docs-main_content desktop:grid-col-9 usa-prose">
          <div class="usa-display">{{ page.title }}</div>

          {% if page.lead %}
            <p class="usa-font-lead">{{ page.lead }}</p>
          {% endif %}

          {{ content }}
        </div>
      </div>
    {% else %}
      <div class="usa-layout-docs-main_content usa-prose">
        <div class="usa-display">{{ page.title }}</div>

        {% if page.lead %}
          <p class="usa-font-lead">{{ page.lead }}</p>
        {% endif %}

        {{ content }}
      </div>
    {% endif %}
  </div>
</main>
