---
layout: base
---

<main class="usa-layout-docs usa-section" id="main-content">
  <div class="grid-container">
    {% if page.sidenav %}
      <div class="grid-row grid-gap">
        <aside class="usa-layout-docs__sidenav desktop:grid-col-3">
          <nav>
            <ul class="usa-sidenav">
              {% include nav/list.html
                links = page.sidenav
                li_class = 'usa-sidenav__item'
                ul_class = 'usa-sidenav__sublist'
              %}
            </ul>
          </nav>
        </aside>

        <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">

          {% if site.temporary_alert %}
            {% include alert.html content=site.temporary_alert %}
          {% endif %}

          <div class="usa-display">{{ page.title }}</div>

          {% if page.lead %}
            <div class="usa-intro">{{ page.lead | markdownify }}</div>
          {% endif %}

          {{ content }}
        </div>
      </div>
    {% else %}
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">

        {% if site.temporary_alert %}
          {% include alert.html content=site.temporary_alert %}
        {% endif %}

        <div class="usa-display">{{ page.title }}</div>

        {% if page.lead %}
          <div class="usa-intro">{{ page.lead | markdownify }}</div>
        {% endif %}

        {{ content }}
      </div>
    {% endif %}
  </div>
</main>
