---
layout: base
---

<main class="usa-layout-docs usa-section" id="main-content">
  <div class="grid-container">
    {% if page.sidenav %}
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-2 desktop:display-block mobile:display-none">
          <aside class="position-sticky tablet-lg:height-viewport usa-layout-docs__sidenav">
            <nav>
              <ul class="usa-sidenav">
                {% include nav/list.html
                  links = page.sidenav
                  li_class = 'usa-sidenav__item'
                  ul_class = 'usa-sidenav__sublist'
                %}
              </ul>
            </nav>
              <a href="#" class="usa-button usa-button--outline return-to-top-button mobile:display-none desktop:display-block position-sticky margin-top-2">Return to top</a>
          </aside>
        </div>

        <div class="usa-layout-docs__main desktop:grid-col-10 usa-prose z-0">

          {% if site.temporary_alert %}
            {% include alert.html content=site.temporary_alert %}
          {% endif %}

          {% if page.lead == null %}
          <h1 class="usa-display padding-bottom-2">{{ page.title }}</h1>
          {% endif %}
  

          {{ content }}

          <a href="{{ site.github_repo_url }}/edit/main/{{ page.path }}" class="usa-button usa-button--outline margin-top-9">Edit this page</a>
          </div>
    
          <a href="#" class="usa-button usa-button--outline return-to-top-button desktop:display-none position-fixed bottom-205 right-105 width-5 height-5 text-middle radius-pill z-500 shadow-2"><img alt="Return to top" class="display-inline maxw-3 width-3 height-3 position-absolute left-1 top-1" src="{{ site.baseurl }}/assets/img/material-icons/expand_less.svg"/></a>
      </div>
    {% else %}
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">

        {% if site.temporary_alert %}
          {% include alert.html content=site.temporary_alert %}
        {% endif %}

        <h1 class="usa-display">{{ page.title }}</h1>

        {% if page.lead %}
        <div class="usa-intro">{{ page.lead | markdownify }}</div>
        {% endif %}



        {{ content }}

        
      </div>
    {% endif %}
  </div>
</main>
