---
# sections that are forthcoming have been commented out for now. -diego
layout: default
sections:
  - label: Getting started
    link:
  - label: Application configuration
    link: http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/identity-dev-docs/application_configuration
  - label: Available Attributes
    link: http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/identity-dev-docs/available_attributes
  - label: Testing
    link: http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/identity-dev-docs/testing
#  - Security
#  - Fraud protection
#  - Webhooks
  - label: SAML reference
    link: http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/identity-dev-docs/saml_references
  - label: SAML/OAUTH libraries
    link: http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/identity-dev-docs/saml_libraries
  - label: Troubleshooting
    link: http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/identity-dev-docs/troubleshooting
  - label: Sample Metadata
    link: http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/identity-dev-docs/sample_metadata
  - label: Glossary
    link: http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/identity-dev-docs/glossary
  - label: Contact us
    link: http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/identity-dev-docs/contact_us
---

<div class="container px2 py3">
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 md-col-3 px2">
      <p class="h6 caps">Core Resources</p>
      <div class="bg-white border rounded">
      {% for s in layout.sections %}
        <a href="{{ s.link }}" class="btn block regular {% if forloop.last != true %}border-bottom{% endif %}">
          {{ s.label }}
        </a>
      {% endfor %}
      </div>
    </div>
    <div class="sm-col sm-col-8 md-col-9 px2">
      {{ content }}
    </div>
  </div>
</div>
