---
layout: default
---

<div class="container p2">
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 md-col-3 px2">
      <h3 class="h4">Side navigation</h3>
      <div class="bg-white border rounded">
        <a href="#!" class="btn block border-bottom">Burgers</a>
        <a href="#!" class="btn block border-bottom">Fries</a>
        <a href="#!" class="btn block border-bottom">Shakes</a>
        <a href="#!" class="btn block">Onion Rings</a>
      </div>
    </div>
    <div class="sm-col sm-col-8 md-col-9 px2">
      {{ content }}
    </div>
  </div>
</div>
